<div class="card">
  <div class="card-header">
   <strong> {{pageTitle}}</strong>
  </div>

  <div class="card-body">

   <div class="table-responsive">
     
      <table class="table  table-striped table-hover" style=" border: 1px;">
          <thead>
            <tr style="color:white; background-color:blue">
              <th>
                Employee Id
               </th>
              <th>
              1234
              </th>
              <th>Employee Name</th>
              <th>Mike</th>
              <th>Leave Balance</th>
              <th>10</th>
              
             
            </tr>
          </thead>     
        </table>


      <table class="table  table-striped table-hover">
        <thead>
          <tr style="color: blue;">
            <th>
              
             </th>
            <th>
             Leave Id
            </th>
            <th>Number of Days</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Status</th>
            <th>Reason</th>
           
          </tr>
        </thead>
        <tbody>
          <tr >
           <td>
               <input type="radio"
                 ng-model="name"
                  ng-value="specialValue"
                   name="requestedAction" value="">
            </td>
            <td>
              11
            </td>
            <td>
               22
            </td>
            <td> 22</td>
            <td> 222</td>
            <td> el</td>
            <td>
               fff
            </td>
            <td>
               rfgg
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>
</div>
  
</div>
<div class="row" style="margin-top: 50px;">
  <div class="col-md-2 offset-md-10">
    <button class="btn btn-primary mr-3" (click)='approvaDney();' >Approve/Deny</button>
  </div>
</div>