<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body" >
  <div class="container">
          <div class="row" >
  
        <div class="col-md-8">
          <div class="row" >
            <div class="col-md-3"><strong>Employee Id:</strong></div>
            <div class="col-md-3"> 1234</div>
             <div class="col-md-3"><strong> Start Date </strong> </div>
             <div class="col-md-3"> '02/12/2019'</div>
          </div>
          <div class="row">
            <div class="col-md-3"><strong>Employee Name:</strong> </div>
             <div class="col-md-3">  Jhon</div>
             <div class="col-md-3"><strong>End Date:</strong> </div>
             <div class="col-md-3">  '03/22/2019'</div>
           
          </div>
          <div class="row">
            <div class="col-md-3"><strong>Leave Balance:</strong> </div>
            <div class="col-md-3"> 10</div>
            <div class="col-md-3"><strong>Number Of Days:</strong> </div>
            <div class="col-md-3"> 5</div>
           </div>
          <div class="row">
            <div class="col-md-3"><strong>Leave Type:</strong> </div>
            <div class="col-md-3">EL</div>
            <div class="col-md-3"><strong>Reason:</strong> </div>
            <div class="col-md-3">test </div>
          </div>
        
          
          <div class="row" style="margin-top: 20px;">
           
            <div class="col-md-3"><strong>Comments:</strong> </div>
            <div class="col-md-9"> 
                <textarea rows="2" cols="50" name="reason" ></textarea>
              
              </div>
          </div> 

          <div class="row" style="margin-top: 50px;">
              <div class="col-md-3 offset-md-3">
                <button class="btn btn-primary mr-3" (click)='approvaDney();' >Approve</button>
              </div>
              <div class="col-md-3 ">
                  <button class="btn btn-primary mr-3" (click)='approvaDney();' > Deny  </button>
                </div>
                <div class="col-md-3 ">
                    <button class="btn btn-primary mr-3" (click)='approvaDney();' >  Cancel   </button>
                  </div>
            </div>
            </div>
      </div>
    </div>
    </div>
  </div>
  